


@media(max-width:1199px){
    .container{
       /* max-width:800px; /*normalde sayfayı daraltırken elementler tek tek küçülür ama bu değeri verdiğimizde belli bir widthten sonra tüm elementler değerin ölçüsüne göre hazır hizalanmıs olur ve göze daha hitap eder */
       max-width: 100%; 
       --bs-gutter-x:30px; /*elementlerin arasındaki mesafeyi daraltır*/
    }
}

@media(max-width:991px){
    .header{ /*4*/
        padding:12px 0;
    }
    .header-backdrop,
    .header-close-btn,
    .header-hamburger-btn{ /*2*/
        display: block;
    }
    .header-hamburger-btn{ /*3*/
        height:34px;
        width:40px;
        cursor:pointer;
        border:none;
        background-color: transparent;
    }
    .header-hamburger-btn span{ /*5*/ /*hambrgerin orta çizgisi*/
        display:block;
        height:2px;
        width:24px;
        background-color: var(--black-90);
        position: relative;
        margin:auto;
    }
    .header-hamburger-btn span::before, /*6*/
    .header-hamburger-btn span::after{ /*üst ve alt çizgilerin genel özellikleri*/
        content:'';
        position:absolute;
        left:0;
        width:100%;
        height:100%;
        background-color: var(--black-90);
    }
    .header-hamburger-btn span::before{ /*7*/ /*üst çizginin hizalaması*/
        top: -7px;
    }
    .header-hamburger-btn span::after{ /*8*/ /*alt çizginin hizalaması*/
        top:7px;
    }
    .header-close-btn{
        height:40px;
        width:40px;
        background: var(--main-color);
        position:absolute;
        left:15px;
        top:15px;
        color:var(--WHITE);
        border:0;
        border-radius:5px;
        cursor:pointer;

    }
    .header-menu{   /*1*/
        /*display: none vardı başta allttakiler 8den sonra*/
        position:fixed;
        width:300px;
        height:100vh;
        top:0;
        right:-300px;/*başta 0 yaz ayarlama bitince sayfadan çıkart sadece butona basıldıgında acılacak*/
        z-index:1000;
        padding:70px 0 50px;
        transition:all 0.5s ease;
        background-color: var(--white);
        box-shadow:var(--shadow);
        overflow-y:auto;
        visibility: hidden;/*sonradan eklendi*/
        
    }
    .header-menu.open{/*bunu header sub menu js kodlarından sonra yaz*/
        right:0;
        visibility:visible;
    }
    .header .menu-item{ /*linkleri alt alta getirdik*/
        display:block;
        margin:0;
    }
    .header .menu-item > a{
        display:flex;
        justify-content: space-between; /*x   x*/
        align-items:center;
        padding:12px 15px; /*space between hizalaması*/
        border-bottom: 1px solid var(--border-color-1);
    }
    .header .menu-item:first-child > a{
        border-bottom: 1px solid var(--border-color-1);
    }
    .header .menu-item.active > a i { /*js kodundan sonra yazıldı, sonra style.css(aynı class ismi) kısmına git (transition eklendi)*/
        transform:rotate(-180deg); /*ikonlara tıklamaya göre dönüş efekti verildi transition ile dönüş yumuşatıldı*/
    }
    .header .sub-menu{/*alt menunun kutusu*/
        position:relative;
        width:100%;
        opacity:1;
        visibility:visible;
        box-shadow:none;
        transform:translateY(0);
        top:auto;
        padding:0;
        border-radius:0;
        /* alt menü arkaya saklanarak kendi yapmıs oldugu yükseklik sıfırlandı*/
        max-height:0;
        overflow:hidden;
        
    }
    .header .sub-menu-item a{
        padding:12px 45px;
        border-bottom:1px solid var(--border-color-1);

    }
    .header-backdrop{ /*menü yandan açıldıgında sayfa renginin yarı saydam olması*/
        position:fixed;
        z-index:999;
        left:0;
        top:0;
        height:100%;
        width:100%;
        opacity:0;
        transition: all 0.5s ease;
        visibility:hidden;
        background-color: var(--white);
    }
    .header-backdrop.active{ /*6. koddan sonra yazıldı*/
        visibility:visible;
        opacity:0.8;
    }
    .circular-img{
        max-width: 280px;
    }
    .circular-img img{
        max-width: 280px;
    }
    .banner-text h1{
        font-size:35px;
    }
    .section-title .sub-title{
        font-size:30px;
    }
    .course-sidebar{
        margin-top:30px;
    }
    .course-instructor .img-box img{
        width:100px;
        height:100px;
    }
    .course-instructor .details-wrap{
        margin-bottom: 15px;
    }
}

@media(max-width:767px){
    .container{
        --bs-gutter-x:15px;
    }
    .box{
        padding:20px 15px;
    }
    .banner-text h1{
        font-size:24px;
    }
    .bai-section{
        text-align:center;
    }
    .section-title .title h3,
    .banner-text h2{
        font-size:18px;
    }
    .form-title,
    .section-title .sub-title{
        font-size:22px;
    }
    .course-header{
        font-size:24px;
    }
    .course-cirruculum .accordion-button span{/*2 lessons | 20min*/
        position:relative;
        right: auto;
        font-size:12px;
        width:100%;
        margin-top:8px;
    }
    .course-cirruculum .accordion-button{
        padding-right:15px; /*2lessons | 20min genişliği bulundugu tüm alana yayıldı*/
    }
    .course-cirruculum ul li span{ /*06:00*/
        font-size:12px;
        position: relative;
        display: block;/*alt satıra attı*/
        margin-top:5px;
    }
    .course-cirruculum ul li{/*06:00 arkaplan genişliği sağdaki px 0landı ve yayıldı tüm alana*/
        padding: 0 0px 0 20px;
        /*padding: 0 50px 0 20px; büyük ekrandaki hizalaması*/
    }
    .course-cirruculum ul li:not(:last-child){ /*lexical structure 06:00(kendi margini var) ve diğer başlıklar*/
        margin-bottom:10px; /*son eleman hariç hepsinin arasını açtık*/
    }
    .rating-box{
        margin-bottom:15px;
    }
    .rating-summary{
        margin-bottom:15px;
    }
}

@media(max-width:575px){
    .circular-img{
        max-width:230px;
    }
    .circular-img img{
        max-width: 230px;
    }
    .footer-item{
        text-align:center;
    }
    .header-logo a{
        font-size:22px;
    }
    .modal-dialog{
        margin:8px 15px;
    }
}